<div style="padding-left: 10px;">
	<hr>
	<h3>&nbsp;All Users (Manage admin access)</h3>
	<ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-balham"
		[rowData]="rowDataConfiguration | async" [columnDefs]="columnDefsConfiguration" rowSelection="single"
		[pagination]="true" [paginationAutoPageSize]="true" [animateRows]="true" enableColResize enableSorting
		enableFilter enableRowResize rowHeight="50" (gridReady)="onGridReadyConfiguration($event)"
		(cellValueChanged)="onCellValueChangedConfiguration($event)"></ag-grid-angular>

</div>