<div *ngIf="cartItems?.length === 0" class="alert alert-info">No Items added</div>

<ul *ngIf="cartItems?.length > 0" class="list-group">
  <div class="card-header">
    <strong>Cart</strong>
  </div>
    <li class="list-group-item" *ngFor="let item of cartItems">
      <app-cart-item [cartItem] = "item">
      </app-cart-item>
      <button type="button" class="close" aria-label="Close" (click)=removeItem(item.id);>
        <span aria-hidden="true">&times;</span>
      </button>
      
    </li>
  
    <li class="list-group-item active">
      <strong>Total</strong> {{ cartTotal| currency:'INR' }}
    </li>
    <br/>
    <button type="button" (click)="openDialogIfNotLoggedIn()" class="btn btn-secondary">Submit and Design Template</button>
    <br/>
    <button type="button" class="btn btn-secondary" (click)=clearCart();>Clear Cart</button>
  </ul>
  