
<ngb-carousel>
    <ng-template ngbSlide>
      <div class="img-block" routerLink="/productcatalogue">
        <img src="/assets/Balcony1.jpg" alt="Img 1" routerLink="/productcatalogue">
      </div>
      <div class="carousel-caption" routerLink="/productcatalogue">
     
        <p>Happy Place Happy Face</p>
        <h3>Check our Balcony Products</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="img-block" routerLink="/productcatalogue">
        <img src="/assets/Balcony4.jpg" alt="Img 2" routerLink="/productcatalogue">
      </div>
      <div class="carousel-caption" routerLink="/productcatalogue">
      
        <p>Happy Place Happy Face</p>
        <h3>Check our Balcony Products</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide  >
      <div class="img-block" routerLink="/productcatalogue">
        <img src="/assets/Balcony5.jpg" alt="Img 3" routerLink="/productcatalogue">
      </div>
      <div class="carousel-caption" routerLink="/productcatalogue">
     
        <p>Happy Place Happy Face</p>
        <h3>Check our Balcony Products</h3>
      </div>
    </ng-template>


  <ng-template ngbSlide >
    <div class="img-block" routerLink="/productcatalogue">
      <img src="/assets/Balcony6.jpg" alt="Img 4" routerLink="/productcatalogue">
    </div>
    <div class="carousel-caption" routerLink="/productcatalogue">
      
        <p>Happy Place Happy Face</p>
        <h3>Check our Balcony Products</h3>
    </div>
  </ng-template>


<ng-template ngbSlide >
    <div class="img-block"  routerLink="/productcatalogue">
      <img src="/assets/Balcony7.jpeg" alt="Img 5" routerLink="/productcatalogue">
    </div>
    <div class="carousel-caption" routerLink="/productcatalogue">
        
        <p>Happy Place Happy Face</p>
        <h3>Check our Balcony Products</h3>
    </div>
  </ng-template>
</ngb-carousel>



   <div class="container mt-3">
    <ngb-carousel #carousel>
      <ng-template ngbSlide>
        <div class="img-block"  routerLink="/productcatalogue">
        <a> <img src="/assets/Balcony2.jpg" routerLink="/productcatalogue" alt="Img 1"> </a>  
        </div>
        <div class="carousel-caption" routerLink="/productcatalogue">
          <h3>Check our Balcony Products</h3>
        
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-block"  routerLink="/productcatalogue">
          <a>  <img src="/assets/Balcony3.jpg" routerLink="/productcatalogue" alt="Img 2"></a>  
        </div>
        <div class="carousel-caption" routerLink="/productcatalogue">
          <h3>Check our Balcony Products</h3>
         
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="img-block"  routerLink="/productcatalogue">
          <a>  <img src="/assets/Balcony8.JPG" routerLink="/productcatalogue" alt="Img 2"></a>  
        </div>
        <div class="carousel-caption" routerLink="/productcatalogue">
          <h3>Check our Balcony Products</h3>
         
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="img-block"  routerLink="/productcatalogue">
          <a>  <img src="/assets/Balcony9.JPG" routerLink="/productcatalogue" alt="Img 2"></a>  
        </div>
        <div class="carousel-caption" routerLink="/productcatalogue">
          <h3>Check our Balcony Products</h3>
         
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="img-block"  routerLink="/productcatalogue">
          <a>  <img src="/assets/Balcony10.JPG" routerLink="/productcatalogue" alt="Img 2"></a>  
        </div>
        <div class="carousel-caption" routerLink="/productcatalogue">
          <h3>Check our Balcony Products</h3>
         
        </div>
      </ng-template>
     
    </ngb-carousel>
  
    <!-- <div class="text-center">
      <button (click)="prevSlide()">Prev</button>
      <button (click)="nextSlide()">Next</button>
      <button (click)="stopSlider()">Stop</button>
    </div> -->
  </div> 