
<ngb-carousel>
    <ng-template ngbSlide>
      <div class="img-block" routerLink="/productcatalogue">
      
        <img src="/assets/Balcony1.jpg" width="100%" height="700px"  alt="Img 1" routerLink="/productcatalogue">
        <div class="centered"><h1 style="font-size:500%;">
          Coming Soon
        </h1></div>
      </div>

      <div class="carousel-caption" routerLink="/productcatalogue">
      </div>
    </ng-template>
    <!-- <ng-template ngbSlide>
      <div class="img-block" routerLink="/productcatalogue">
        <img src="/assets/Balcony2.jpeg" width="100%" height="100%" alt="Img 2" routerLink="/productcatalogue">
      </div>
      <div class="carousel-caption" routerLink="/productcatalogue">
      
        <i>"Happy Place Happy Face"</i>
        <h3>Check our Balcony Products</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide  >
      <div class="img-block" routerLink="/productcatalogue">
        <img src="/assets/Balcony3.jpg" width="100%" height="100%" alt="Img 3" routerLink="/productcatalogue">
      </div>
      <div class="carousel-caption" routerLink="/productcatalogue">
     
        <i>"Happy Place Happy Face"</i>
        <h3>Check our Balcony Products</h3>
      </div>
    </ng-template> -->


  <!-- <ng-template ngbSlide >
    <div class="img-block" routerLink="/productcatalogue">
      <img src="/assets/Balcony4.jpeg" width="100%"  height="700px" alt="Img 4" routerLink="/productcatalogue">
    </div>
    <div class="carousel-caption" routerLink="/productcatalogue">
      
    
    </div>
  </ng-template>


<ng-template ngbSlide >
    <div class="img-block"  routerLink="/productcatalogue">
      <img src="/assets/Balcony5.jpg" width="100%"  height="700px" alt="Img 5" routerLink="/productcatalogue">
    </div>
    <div class="carousel-caption" routerLink="/productcatalogue">
        
    
    </div>
  </ng-template> -->
</ngb-carousel>



   <!-- <div class="container mt-3">
    <ngb-carousel #carousel>
      <ng-template ngbSlide>
        <div class="img-block"  routerLink="/productcatalogue">
        <a> <img src="/assets/Balcony6.jpg" width="100%" height="100%" routerLink="/productcatalogue" alt="Img 1"> </a>  
        </div>
        <div class="carousel-caption" routerLink="/productcatalogue">
          <h3>Check our Balcony Products</h3>
        
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-block"  routerLink="/productcatalogue">
          <a>  <img src="/assets/Balcony7.jpeg" width="100%" height="100%" routerLink="/productcatalogue" alt="Img 2"></a>  
        </div>
        <div class="carousel-caption" routerLink="/productcatalogue">
          <h3>Check our Balcony Products</h3>
         
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="img-block"  routerLink="/productcatalogue">
          <a>  <img src="/assets/Balcony8.jpg"  width="100%" height="100%" routerLink="/productcatalogue" alt="Img 2"></a>  
        </div>
        <div class="carousel-caption" routerLink="/productcatalogue">
          <h3>Check our Balcony Products</h3>
         
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="img-block"  routerLink="/productcatalogue">
          <a>  <img src="/assets/Balcony9.jpg" width="100%" height="100%" routerLink="/productcatalogue" alt="Img 2"></a>  
        </div>
        <div class="carousel-caption" routerLink="/productcatalogue">
          <h3>Check our Balcony Products</h3>
         
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="img-block"  routerLink="/productcatalogue">
          <a>  <img src="/assets/Balcony10.jpg" width="100%" height="100%" routerLink="/productcatalogue" alt="Img 2"></a>  
        </div>
        <div class="carousel-caption" routerLink="/productcatalogue">
          <h3>Check our Balcony Products</h3>
         
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="img-block"  routerLink="/productcatalogue">
          <a>  <img src="/assets/BirdNet.jpeg" width="100%" height="100%" routerLink="/productcatalogue" alt="Img 2"></a>  
        </div>
        <div class="carousel-caption" routerLink="/productcatalogue">
          <h3>Check our Balcony Products</h3>
         
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="img-block"  routerLink="/productcatalogue">
          <a>  <img src="/assets/Balcony11.jpg" width="100%" height="100%" routerLink="/productcatalogue" alt="Img 2"></a>  
        </div>
        <div class="carousel-caption" routerLink="/productcatalogue">
          <h3>Check our Balcony Products</h3>
         
        </div>
      </ng-template>
     
    </ngb-carousel> -->
  
    <!-- <div class="text-center">
      <button (click)="prevSlide()">Prev</button>
      <button (click)="nextSlide()">Next</button>
      <button (click)="stopSlider()">Stop</button>
    </div> -->
  <!-- </div>  -->