
<ngb-carousel>
    <ng-template ngbSlide>
      <div class="img-block">
        <img src="/assets/Balcony1.jpg" alt="Img 1">
      </div>
      <div class="carousel-caption">
        <h3>Apna Balcony</h3>
        <p>You Select, We design</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="img-block">
        <img src="/assets/Balcony4.jpg" alt="Img 2">
      </div>
      <div class="carousel-caption">
        <h3>Apna Balcony</h3>
        <p>You Select, We design</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="img-block">
        <img src="/assets/Balcony5.jpg" alt="Img 3">
      </div>
      <div class="carousel-caption">
        <h3>Apna Balcony</h3>
        <p>You Select, We design</p>
      </div>
    </ng-template>


  <ng-template ngbSlide>
    <div class="img-block">
      <img src="/assets/Balcony6.jpg" alt="Img 4">
    </div>
    <div class="carousel-caption">
        <h3>Apna Balcony</h3>
        <p>You Select, We design</p>
    </div>
  </ng-template>


<ng-template ngbSlide>
    <div class="img-block">
      <img src="/assets/Balcony7.jpeg" alt="Img 5">
    </div>
    <div class="carousel-caption">
        <h3>Apna Balcony</h3>
        <p>You Select, We design</p>
    </div>
  </ng-template>
</ngb-carousel>



   <div class="container mt-3">
    <ngb-carousel #carousel>
      <ng-template ngbSlide>
        <div class="img-block">
          <img src="/assets/Balcony2.jpg"  alt="Img 1">
        </div>
        <div class="carousel-caption">
          <h3>Li Europan lingues</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-block">
          <img src="/assets/Balcony3.jpg"  alt="Img 2">
        </div>
        <div class="carousel-caption">
          <h3>On refusa continuar</h3>
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.</p>
        </div>
      </ng-template>
     
    </ngb-carousel>
  
    <div class="text-center">
      <button (click)="prevSlide()">Prev</button>
      <button (click)="nextSlide()">Next</button>
      <button (click)="stopSlider()">Stop</button>
    </div>
  </div> 