<hr>
<div>
	<mat-tab-group (selectedTabChange)="loadProductsSetup($event)" id="tab-group">
		<mat-tab label="Product Categories">

			<form [formGroup]="formProductCategories" style="margin-left: 20px;" novalidate
				(ngSubmit)="onSubmitProductCategories()">

				<div class="form-group">
					<label for="product_category_code" class="control-label">Product Category Code</label>
					<input type="text" class="form-control" id="product_category_code" maxlength="10"
						formControlName="ProductCategoryCode" placeholder="">
				</div>
				<div *ngIf="formProductCategories.controls['ProductCategoryCode'].invalid && (formProductCategories.controls['ProductCategoryCode'].dirty || formProductCategories.controls['ProductCategoryCode'].touched)"
					class="alert alert-danger">
					<div *ngIf="formProductCategories.controls['ProductCategoryCode'].errors?.required">
						Product Category Code is required.
					</div>
				</div>
				<div *ngIf="formProductCategories.controls['ProductCategoryCode'].errors?.maxlength">

				</div>
				<div class="form-group">
					<label for="product_category_name" class="control-label">Product Category Name</label>
					<input type="text" class="form-control" id="product_category_name" maxlength="50"
						formControlName="ProductCategoryName" placeholder="">
				</div>
				<div *ngIf="formProductCategories.controls['ProductCategoryName'].invalid && (formProductCategories.controls['ProductCategoryName'].dirty || formProductCategories.controls['ProductCategoryName'].touched)"
					class="alert alert-danger">
					<div *ngIf="formProductCategories.controls['ProductCategoryName'].errors?.required">
						Product Category Name is required.
					</div>
				</div>
				<div *ngIf="formProductCategories.controls['ProductCategoryName'].errors?.maxlength">

				</div>
				<div class="form-group">
					<label for="product_category_description" class="control-label">Product Category Description</label>
					<textarea class="form-control" id="product_category_desc" maxlength="100"
						formControlName="ProductCategoryDesc" placeholder=""></textarea>
				</div>
				<div *ngIf="formProductCategories.controls['ProductCategoryDesc'].invalid && (formProductCategories.controls['ProductCategoryDesc'].dirty || formProductCategories.controls['ProductCategoryDesc'].touched)"
					class="alert alert-danger">
					<div *ngIf="formProductCategories.controls['ProductCategoryDesc'].errors?.required">
						Product Category Description is required.
					</div>
				</div>
				<div *ngIf="formProductCategories.controls['ProductCategoryDesc'].errors?.maxlength">

				</div>

				<div class="form-group">
					<label for="product_category_image" class="control-label">Product Category
						Image</label>
					<input type="file" name="ProductCategoryImg" accept="image/*"
						(change)="onProductCategorySelected($event)">
				</div>


				<div class="form-group">
					<!-- Submit Button -->
					<button type="submit" class="btn btn-primary"
						[disabled]="!formProductCategories.valid">Submit</button>
				</div>
			</form>

			<div align="right">
				<button mat-icon-button color="primary">
					<mat-icon style="font-size: 30px" class="mat-icon-rtl-mirror"
						(click)="deleteRowProductCategories();">delete</mat-icon>
				</button>
			</div>

			<ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham"
				[rowData]="rowDataProductCategories | async" [columnDefs]="columnDefsProductCategories"
				rowSelection="single" [pagination]="true" [paginationAutoPageSize]="true" [animateRows]="true"
				enableColResize enableSorting enableFilter enableRowResize rowHeight="50"
				(gridReady)="onGridReadyProductCategories($event)"
				(cellValueChanged)="onCellValueChangedProductCategories($event)">

			</ag-grid-angular>
		</mat-tab>
		<mat-tab label="Product Sub-Categories">

			<form [formGroup]="formProductSubCategories" style="margin-left: 20px;" novalidate
				(ngSubmit)="onSubmitProductSubCategories()">
				<div class="form-group">
					<label for="product_category_code" class="control-label">Product Category</label>
					<br>


					<mat-select class="form-control" [value]="0" placeholder="Choose Product Category"
						(selectionChange)="changeProductCategory($event)">
						<mat-option *ngFor="let productCategory of productCategoryList|async"
							[value]="productCategory._id">
							<img alt="Image" width="5%" height="5%"
								src="data:image/png;base64,{{productCategory.productCategoryImg}}" />
							{{productCategory.productCategoryName}}
						</mat-option>
					</mat-select>
				</div>

				<div class="form-group">
					<label for="product_subcategory_code" class="control-label">Product SubCategory Code</label>
					<input type="text" class="form-control" id="product_subcategory_code" maxlength="10"
						formControlName="ProductSubCategoryCode" placeholder="">
				</div>
				<div *ngIf="formProductSubCategories.controls['ProductSubCategoryCode'].invalid && (formProductSubCategories.controls['ProductSubCategoryCode'].dirty || formProductSubCategories.controls['ProductSubCategoryCode'].touched)"
					class="alert alert-danger">
					<div *ngIf="formProductSubCategories.controls['ProductSubCategoryCode'].errors?.required">
						Product SubCategory Code is required.
					</div>
				</div>
				<div *ngIf="formProductSubCategories.controls['ProductSubCategoryCode'].errors?.maxlength">

				</div>
				<div class="form-group">
					<label for="product_subcategory_name" class="control-label">Product SubCategory Name</label>
					<input type="text" class="form-control" id="product_subcategory_name" maxlength="50"
						formControlName="ProductSubCategoryName" placeholder="">
				</div>
				<div *ngIf="formProductSubCategories.controls['ProductSubCategoryName'].invalid && (formProductSubCategories.controls['ProductSubCategoryName'].dirty || formProductSubCategories.controls['ProductSubCategoryName'].touched)"
					class="alert alert-danger">
					<div *ngIf="formProductSubCategories.controls['ProductSubCategoryName'].errors?.required">
						Product SubCategory Name is required.
					</div>
				</div>
				<div *ngIf="formProductSubCategories.controls['ProductSubCategoryName'].errors?.maxlength">

				</div>
				<div class="form-group">
					<label for="product_subcategory_description" class="control-label">Product SubCategory
						Description</label>
					<textarea class="form-control" id="product_subcategory_desc" maxlength="100"
						formControlName="ProductSubCategoryDesc" placeholder=""></textarea>
				</div>
				<div *ngIf="formProductSubCategories.controls['ProductSubCategoryDesc'].invalid && (formProductSubCategories.controls['ProductSubCategoryDesc'].dirty || formProductSubCategories.controls['ProductSubCategoryDesc'].touched)"
					class="alert alert-danger">
					<div *ngIf="formProductSubCategories.controls['ProductSubCategoryDesc'].errors?.required">
						Product SubCategory Description is required.
					</div>
				</div>
				<div *ngIf="formProductSubCategories.controls['ProductSubCategoryDesc'].errors?.maxlength">

				</div>

				<div class="form-group">
					<label for="product_subcategory_image" class="control-label">Product SubCategory
						Image</label>
					<input type="file" name="ProductSubCategoryImg" accept="image/*"
						(change)="onProductSubCategorySelected($event)">
				</div>

				<div class="form-group">
					<!-- Submit Button -->
					<button type="submit" class="btn btn-primary"
						[disabled]="!formProductSubCategories.valid">Submit</button>
				</div>
			</form>

			<div align="right">
				<button mat-icon-button color="primary">
					<mat-icon style="font-size: 30px" class="mat-icon-rtl-mirror"
						(click)="deleteRowProductSubCategories();">delete</mat-icon>
				</button>
			</div>

			<ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham"
				[rowData]="rowDataProductSubCategories | async" [columnDefs]="columnDefsProductSubCategories"
				rowSelection="single" [pagination]="true" [paginationAutoPageSize]="true" [animateRows]="true"
				enableColResize enableSorting enableFilter enableRowResize rowHeight="50"
				(gridReady)="onGridReadyProductSubCategories($event)"
				(cellValueChanged)="onCellValueChangedProductSubCategories($event)">

			</ag-grid-angular>
		</mat-tab>
		<mat-tab label="Product Color">
			<form [formGroup]="formProductColors" style="margin-left: 20px;" novalidate
				(ngSubmit)="onSubmitProductColors()">
				<div class="form-group">
					<label for="product_color_code" class="control-label">Product Color Code</label>
					<input type="text" class="form-control" id="product_color_code" maxlength="10"
						formControlName="ProductColorCode" placeholder="">
				</div>
				<div *ngIf="formProductColors.controls['ProductColorCode'].invalid && (formProductColors.controls['ProductColorCode'].dirty || formProductColors.controls['ProductColorCode'].touched)"
					class="alert alert-danger">
					<div *ngIf="formProductColors.controls['ProductColorCode'].errors?.required">
						Product Color Code is required.
					</div>
				</div>
				<div *ngIf="formProductColors.controls['ProductColorCode'].errors?.maxlength">
				</div>
				<div class="form-group">
					<label for="product_color_name" class="control-label">Product Color Name</label>
					<input type="text" class="form-control" id="product_color_name" maxlength="50"
						formControlName="ProductColorName" placeholder="">
				</div>
				<div *ngIf="formProductColors.controls['ProductColorName'].invalid && (formProductColors.controls['ProductColorName'].dirty || formProductColors.controls['ProductColorName'].touched)"
					class="alert alert-danger">
					<div *ngIf="formProductColors.controls['ProductColorName'].errors?.required">
						Product Color Name is required.
					</div>
				</div>
				<div *ngIf="formProductColors.controls['ProductColorName'].errors?.maxlength">

				</div>
				<div class="form-group">
					<label for="product_color_description" class="control-label">Product Color
						Description</label>
					<textarea class="form-control" id="product_color_desc" maxlength="100"
						formControlName="ProductColorDesc" placeholder=""></textarea>
				</div>
				<div *ngIf="formProductColors.controls['ProductColorDesc'].invalid && (formProductColors.controls['ProductColorDesc'].dirty || formProductColors.controls['ProductColorDesc'].touched)"
					class="alert alert-danger">
					<div *ngIf="formProductColors.controls['ProductColorDesc'].errors?.required">
						Product Color Description is required.
					</div>
				</div>
				<div *ngIf="formProductColors.controls['ProductColorDesc'].errors?.maxlength">

				</div>

				<div class="form-group">
					<label for="product_color_image" class="control-label">Product Color
						Image</label>
					<input type="file" name="ProductColorImg" accept="image/*"
						(change)="onProductColorSelected($event)">
				</div>

				<div class="form-group">
					<!-- Submit Button -->
					<button type="submit" class="btn btn-primary" [disabled]="!formProductColors.valid">Submit</button>
				</div>
			</form>

			<div align="right">
				<button mat-icon-button color="primary">
					<mat-icon style="font-size: 30px" class="mat-icon-rtl-mirror" (click)="deleteRowProductColors();">
						delete</mat-icon>
				</button>
			</div>

			<ag-grid-angular class="ag-theme-balham" style="width: 100%; height: 100%;"
				[rowData]="rowDataProductColors | async" [columnDefs]="columnDefsProductColors" rowSelection="single"
				[pagination]="true" [paginationAutoPageSize]="true" [animateRows]="true" enableColResize enableRowResize
				rowHeight="100" enableSorting enableFilter (gridReady)="onGridReadyProductColors($event)"
				(cellValueChanged)="onCellValueChangedProductColors($event)">
			</ag-grid-angular>
		</mat-tab>


		<mat-tab label="Product Brand">
			<form [formGroup]="formProductBrands" style="margin-left: 20px;" novalidate
				(ngSubmit)="onSubmitProductBrands()">

				<div class="form-group">
					<label for="product_category_code" class="control-label">Product Category</label>
					<br>
					<mat-select class="form-control" [value]="0" placeholder="Choose Product Category"
						(selectionChange)="changeProductCategory($event)">
						<mat-option *ngFor="let productCategory of productCategoryList|async"
							[value]="productCategory._id">
							<img alt="Image" width="5%" height="5%"
								src="data:image/png;base64,{{productCategory.productCategoryImg}}" />
							{{productCategory.productCategoryName}}
						</mat-option>
					</mat-select>

					<!-- error block -->
					<div *ngIf="isSubmitted && productCategoryList.errors?.required">
						<sup>*</sup>Please select product category
					</div>
				</div>

				<div class="form-group">
					<label for="product_subcategory_code" class="control-label">Product Sub-Category</label>
					<br>

					<mat-select class="form-control" [value]="0" placeholder="Choose Product SubCategory"
						(selectionChange)="changeProductSubCategory($event)">
						<mat-option *ngFor="let productSubCategory of productSubCategoryList|async"
							[value]="productSubCategory._id">
							<img alt="Image" width="5%" height="5%"
								src="data:image/png;base64,{{productSubCategory.productSubCategoryImg}}" />
							{{productSubCategory.productSubCategoryName}}
						</mat-option>
					</mat-select>

					<!-- error block -->
					<div *ngIf="isSubmitted && productSubCategoryList.errors?.required">
						<sup>*</sup>Please select product sub category
					</div>
				</div>


				<div class="form-group">
					<label for="product_brand_code" class="control-label">Product Brand Code</label>
					<input type="text" class="form-control" id="product_brand_code" maxlength="10"
						formControlName="ProductBrandCode" placeholder="">
				</div>
				<div *ngIf="formProductBrands.controls['ProductBrandCode'].invalid && (formProductBrands.controls['ProductBrandCode'].dirty || formProductBrands.controls['ProductBrandCode'].touched)"
					class="alert alert-danger">
					<div *ngIf="formProductBrands.controls['ProductBrandCode'].errors?.required">
						Product Brand Code is required.
					</div>
				</div>
				<div *ngIf="formProductBrands.controls['ProductBrandCode'].errors?.maxlength">
				</div>
				<div class="form-group">
					<label for="product_brand_name" class="control-label">Product Brand Name</label>
					<input type="text" class="form-control" id="product_brand_name" maxlength="50"
						formControlName="ProductBrandName" placeholder="">
				</div>
				<div *ngIf="formProductBrands.controls['ProductBrandName'].invalid && (formProductBrands.controls['ProductBrandName'].dirty || formProductBrands.controls['ProductBrandName'].touched)"
					class="alert alert-danger">
					<div *ngIf="formProductBrands.controls['ProductBrandName'].errors?.required">
						Product Brand Name is required.
					</div>
				</div>
				<div *ngIf="formProductBrands.controls['ProductBrandName'].errors?.maxlength">

				</div>
				<div class="form-group">
					<label for="product_brand_description" class="control-label">Product Brand
						Description</label>
					<textarea class="form-control" id="product_brand_desc" maxlength="100"
						formControlName="ProductBrandDesc" placeholder=""></textarea>
				</div>
				<div *ngIf="formProductBrands.controls['ProductBrandDesc'].invalid && (formProductBrands.controls['ProductBrandDesc'].dirty || formProductBrands.controls['ProductBrandDesc'].touched)"
					class="alert alert-danger">
					<div *ngIf="formProductBrands.controls['ProductBrandDesc'].errors?.required">
						Product Brand Description is required.
					</div>
				</div>
				<div *ngIf="formProductBrands.controls['ProductBrandDesc'].errors?.maxlength">

				</div>

				<div class="form-group">
					<label for="product_brand_image" class="control-label">Product Brand
						Image</label>
					<input type="file" name="ProductBrandImg" accept="image/*"
						(change)="onProductBrandSelected($event)">
				</div>


				<div class="form-group">
					<!-- Submit Button -->
					<button type="submit" class="btn btn-primary" [disabled]="!formProductBrands.valid">Submit</button>
				</div>
			</form>

			<div align="right">

				<button mat-icon-button color="primary">
					<mat-icon style="font-size: 30px" class="mat-icon-rtl-mirror" (click)="deleteRowProductBrands();">
						delete</mat-icon>
				</button>
			</div>

			<ag-grid-angular class="ag-theme-balham" style="width: 100%; height: 100%;"
				[rowData]="rowDataProductBrands | async" [columnDefs]="columnDefsProductBrands" rowSelection="single"
				[pagination]="true" [paginationAutoPageSize]="true" [animateRows]="true" enableColResize enableRowResize
				rowHeight="100" enableSorting enableFilter (gridReady)="onGridReadyProductBrands($event)"
				(cellValueChanged)="onCellValueChangedProductBrands($event)">

			</ag-grid-angular>
		</mat-tab>

		<mat-tab label="Products Setup">
			<form [formGroup]="formProducts" style="margin-left: 20px;" novalidate (ngSubmit)="onSubmitProducts()">
				<div class="form-group">
					<div class="row">
						<div class="column">
							<label for="product_category_code" class="control-label">Product Category</label>
							<br>


							<mat-select class="form-control" [value]="0" placeholder="Choose Product Category"
								(selectionChange)="changeProductCategory($event)">
								<mat-option *ngFor="let productCategory of productCategoryList|async"
									[value]="productCategory._id">
									<img alt="Image" width="5%" height="5%"
										src="data:image/png;base64,{{productCategory.productCategoryImg}}" />
									{{productCategory.productCategoryName}}
								</mat-option>
							</mat-select>

							<!-- error block -->
							<div *ngIf="isSubmitted && productCategoryList.errors?.required">
								<sup>*</sup>Please select product category
							</div>
						</div>
						<div class="column">
							<label for="product_subcategory_code" class="control-label">Product Sub-Category</label>
							<br>
							<mat-select class="form-control" [value]="0" placeholder="Choose Product SubCategory"
								(selectionChange)="changeProductSubCategory($event)">
								<mat-option *ngFor="let productSubCategory of productSubCategoryList|async"
									[value]="productSubCategory._id">
									<img alt="Image" width="5%" height="5%"
										src="data:image/png;base64,{{productSubCategory.productSubCategoryImg}}" />
									{{productSubCategory.productSubCategoryName}}
								</mat-option>
							</mat-select>

							<!-- error block -->
							<div *ngIf="isSubmitted && productSubCategoryList.errors?.required">
								<sup>*</sup>Please select product sub category
							</div>

						</div>
						<div class="column">
							<label for="product_brand" class="control-label">Product Brand</label>
							<br>
							<mat-select class="form-control" [value]="0" placeholder="Choose Product Brand"
								(selectionChange)="changeProductBrand($event)">
								<mat-option *ngFor="let productBrand of productBrandList|async"
									[value]="productBrand._id">
									<img alt="Image" width="5%" height="5%"
										src="data:image/png;base64,{{productBrand.productBrandImg}}" />
									{{productBrand.productBrandName}}
								</mat-option>
							</mat-select>

							<!-- error block -->
							<!-- <div *ngIf="isSubmitted && productBrandList.errors?.required">
								<sup>*</sup>Please select product brand
							</div> -->
						</div>
						<div class="column">
							<label for="product_color_code" class="control-label">Product Color</label>
							<br>
							<mat-select class="form-control" [value]="0" placeholder="Choose Product Color"
								(selectionChange)="changeProductColor($event)">
								<mat-option *ngFor="let productColor of productColorList|async"
									[value]="productColor._id">
									<img alt="Image" width="5%" height="5%"
										src="data:image/png;base64,{{productColor.productColorImg}}" />
									{{productColor.productColorName}}
								</mat-option>
							</mat-select>

							<!-- error block -->
							<div *ngIf="isSubmitted && productColorList.errors?.required">
								<sup>*</sup>Please select product
							</div>
						</div>
					</div>
					<div class="row">
						<div class="column">
							<label for="product_code" class="control-label">Product Code</label>
							<br>
							<input type="text" class="form-control" id="product_code" maxlength="10"
								formControlName="ProductCode" placeholder="">

							<div *ngIf="formProducts.controls['ProductCode'].invalid && (formProducts.controls['ProductCode'].dirty || formProducts.controls['ProductCode'].touched)"
								class="alert alert-danger">
								<div *ngIf="formProducts.controls['ProductCode'].errors?.required">
									Product Code is required.
								</div>
							</div>
							<div *ngIf="formProducts.controls['ProductCode'].errors?.maxlength">
							</div>
						</div>
						<div class="column">
							<label for="product_name" class="control-label">Product Name</label>
							<input type="text" class="form-control" id="product_name" maxlength="50"
								formControlName="ProductName" placeholder="">

							<div *ngIf="formProducts.controls['ProductName'].invalid && (formProducts.controls['ProductName'].dirty || formProducts.controls['ProductName'].touched)"
								class="alert alert-danger">
								<div *ngIf="formProducts.controls['ProductName'].errors?.required">
									Product Name is required.
								</div>
							</div>
							<div *ngIf="formProducts.controls['ProductName'].errors?.maxlength">

							</div>
						</div>
						<div class="column">
							<label for="product_description" class="control-label">Product
								Description</label>
							<textarea class="form-control" id="product_desc" maxlength="100"
								formControlName="ProductDesc" placeholder=""></textarea>

							<div *ngIf="formProducts.controls['ProductDesc'].invalid && (formProducts.controls['ProductDesc'].dirty || formProducts.controls['ProductDesc'].touched)"
								class="alert alert-danger">
								<div *ngIf="formProducts.controls['ProductDesc'].errors?.required">
									Product Description is required.
								</div>
							</div>
							<div *ngIf="formProducts.controls['ProductDesc'].errors?.maxlength">

							</div>
						</div>
						<div class="column">
							<label for="product_image" class="control-label">Product
								Primary Image</label>
							<input type="file" name="ProductImg" accept="image/*" (change)="onProductSelected($event)">
						</div>
					</div>

					<div class="row">
						<div class="column">
							<label for="product_price" class="control-label">Product Price</label>
							<input type="text" class="form-control" id="product_price" maxlength="50"
								formControlName="ProductPrice" placeholder="">

							<div *ngIf="formProducts.controls['ProductPrice'].invalid && (formProducts.controls['ProductPrice'].dirty || formProducts.controls['ProductPrice'].touched)"
								class="alert alert-danger">
								<div *ngIf="formProducts.controls['ProductPrice'].errors?.required">
									Product Price is required.
								</div>
							</div>
							<div *ngIf="formProducts.controls['ProductPrice'].errors?.maxlength">

							</div>
						</div>

						<div class="column">
							<label for="product_discount" class="control-label">Product Discount</label>
							<input type="text" class="form-control" id="product_discount" maxlength="50"
								formControlName="ProductDiscount" placeholder="">

							<div *ngIf="formProducts.controls['ProductDiscount'].invalid && (formProducts.controls['ProductDiscount'].dirty || formProducts.controls['ProductDiscount'].touched)"
								class="alert alert-danger">
								<div *ngIf="formProducts.controls['ProductDiscount'].errors?.required">
									Product Price is required.
								</div>
							</div>
							<div *ngIf="formProducts.controls['ProductDiscount'].errors?.maxlength">

							</div>
						</div>

						<div class="column">
							<label for="productstockunits" class="control-label">Product Stock Units</label>
							<input type="text" class="form-control" id="product_stockunits" maxlength="50"
								formControlName="ProductStockUnits" placeholder="">

							<div *ngIf="formProducts.controls['ProductStockUnits'].invalid && (formProducts.controls['ProductStockUnits'].dirty || formProducts.controls['ProductStockUnits'].touched)"
								class="alert alert-danger">
								<div *ngIf="formProducts.controls['ProductStockUnits'].errors?.required">
									Product Price is required.
								</div>
							</div>
							<div *ngIf="formProducts.controls['ProductStockUnits'].errors?.maxlength">

							</div>
						</div>
					</div>
					<div class="form-group">
						<!-- Submit Button -->
						<button type="submit" class="btn btn-primary" [disabled]="!formProducts.valid">Submit</button>
					</div>
				</div>

			</form>

			<div align="right">

				<button mat-icon-button color="primary">
					<mat-icon style="font-size: 30px" class="mat-icon-rtl-mirror" (click)="deleteRowProduct();">delete
					</mat-icon>
				</button>


			</div>


			<ag-grid-angular class="ag-theme-balham" style="width: 100%; height: 100%;"
				[rowData]="rowDataProducts | async" [columnDefs]="columnDefsProducts" rowSelection="single"
				[pagination]="true" [paginationAutoPageSize]="true" [animateRows]="true" enableColResize enableRowResize
				rowHeight="100" enableSorting enableFilter (gridReady)="onGridReadyProducts($event)"
				(cellValueChanged)="onCellValueChangedProducts($event)">

			</ag-grid-angular>
		</mat-tab>

		<mat-tab label="Product Images Setup">
			<form [formGroup]="formProductImages" style="margin-left: 20px;" novalidate
				(ngSubmit)="onSubmitProductImages()">
				<div class="form-group">
					<div class="row">
						<div class="column">
							<label for="product_category_code" class="control-label">Product Category</label>
							<br>
							<mat-select class="form-control" [value]="0" placeholder="Choose Product Category"
								(selectionChange)="changeProductCategory($event)">
								<mat-option *ngFor="let productCategory of productCategoryList|async"
									[value]="productCategory._id">
									<img alt="Image" width="5%" height="5%"
										src="data:image/png;base64,{{productCategory.productCategoryImg}}" />
									{{productCategory.productCategoryName}}
								</mat-option>
							</mat-select>


							<!-- error block -->
							<div *ngIf="isSubmitted && productCategoryList.errors?.required">
								<sup>*</sup>Please select product category
							</div>
						</div>
						<div class="column">
							<label for="product_subcategory_code" class="control-label">Product Sub-Category</label>
							<br>
							<mat-select class="form-control" [value]="0" placeholder="Choose Product SubCategory"
								(selectionChange)="changeProductSubCategory($event)">
								<mat-option *ngFor="let productSubCategory of productSubCategoryList|async"
									[value]="productSubCategory._id">
									<img alt="Image" width="5%" height="5%"
										src="data:image/png;base64,{{productSubCategory.productSubCategoryImg}}" />
									{{productSubCategory.productSubCategoryName}}
								</mat-option>
							</mat-select>

							<!-- error block -->
							<div *ngIf="isSubmitted && productSubCategoryList.errors?.required">
								<sup>*</sup>Please select product sub category
							</div>

						</div>
						<div class="column">
							<label for="product_brand" class="control-label">Product Brand</label>
							<br>
							<mat-select class="form-control" [value]="0" placeholder="Choose Product Brand"
								(selectionChange)="changeProductBrand($event)">
								<mat-option *ngFor="let productBrand of productBrandList|async"
									[value]="productBrand._id">
									<img alt="Image" width="5%" height="5%"
										src="data:image/png;base64,{{productBrand.productBrandImg}}" />
									{{productBrand.productBrandName}}
								</mat-option>
							</mat-select>

							<!-- error block -->
							<div *ngIf="isSubmitted && productBrandList.errors?.required">
								<sup>*</sup>Please select product brand
							</div>
						</div>
						<div class="column">
							<label for="product_color_code" class="control-label">Product Color</label>
							<br>
							<mat-select class="form-control" [value]="0" placeholder="Choose Product Color"
								[(ngModel)]="selectedColor" [ngModelOptions]="{standalone: true}"
								(selectionChange)="changeProductColor($event)">
								<mat-option *ngFor="let productColor of productColorList|async"
									[value]="productColor._id">
									<img alt="Image" width="5%" height="5%"
										src="data:image/png;base64,{{productColor.productColorImg}}" />
									{{productColor.productColorName}}
								</mat-option>
							</mat-select>

							<!-- error block -->
							<div *ngIf="isSubmitted && productColorList.errors?.required">
								<sup>*</sup>Please select product Color
							</div>
						</div>
					</div>

					<div class="row">
						<div class="column">
							<label for="product_code" class="control-label">Product</label>
							<br>

							<mat-select class="form-control" [value]="0" placeholder="Choose Product"
								(selectionChange)="changeProduct($event)">
								<mat-option *ngFor="let product of productList" [value]="product._id">
									<img alt="Image" width="5%" height="5%"
										src="data:image/png;base64,{{product.productImg}}" />
									{{product.productName}}
								</mat-option>
							</mat-select>
							<!-- error block -->
							<div *ngIf="isSubmitted && productCategoryList.errors?.required">
								<sup>*</sup>Please select product category
							</div>


						</div>
						<div class="column">
							<label for="product_image" class="control-label"> &nbsp; Product
								Image (Browse multiple images at a time)</label>
							<input type="file" formControlName="productImagesUploadControl" accept="image/*" multiple=""
								(change)="onProductImagesSelected($event)">
							<div *ngIf="returnFormProductsImagesControls.productImagesUploadControl?.touched && returnFormProductsImagesControls.productImagesUploadControl?.invalid"
								class="alert alert-danger">
								<div
									*ngIf="returnFormProductsImagesControls.productImagesUploadControl.errors?.required">
									File is required.</div>
							</div>
						</div>
					</div>
					<div class="horizontal">
						<div *ngFor='let url of images; let i = index'>
							<img [src]="url" height="250px" width="250px" style="margin: 3px;"> <br />
							<!-- <a (click)="removeImage(i)" class="btn btn-xs btn-danger">Remove</a> -->
						</div>
					</div>
					<div class="row">
						<label class="label text-success">Total Images selected/uploaded: {{images?.length}}</label>
					</div>
					<div class="form-group">
						<!-- Submit Button -->
						<button type="submit" class="btn btn-primary"
							[disabled]="!formProductImages.valid">Submit</button>
					</div>

					<div class="row">
						<label class="label text-success" class="alert alert-info"> Images uploaded (Below)</label>
					</div>
					<div class="horizontal">
						<div *ngFor='let img of imagesList; let i = index'>
							<img src="data:image/png;base64,{{img.productImg}}" height="250px" width="250px"
								style="margin: 3px;"> <br />
						</div>
					</div>
				</div>
			</form>
		</mat-tab>

		<mat-tab label="Template Setup">
			<form [formGroup]="formTemplate" style="margin-left: 20px;" novalidate (ngSubmit)="onSubmitTemplate()">
				<div class="form-group">
					<div class="row">
						<div class="column">
							<label for="template_code" class="control-label">Template Code</label>
							<br>
							<input type="text" class="form-control" id="template_code" maxlength="10"
								formControlName="TemplateCode" placeholder="">

							<div *ngIf="formTemplate.controls['TemplateCode'].invalid && (formTemplate.controls['TemplateCode'].dirty || formTemplate.controls['TemplateCode'].touched)"
								class="alert alert-danger">
								<div *ngIf="formTemplate.controls['TemplateCode'].errors?.required">
									Template Code is required.
								</div>
							</div>
							<div *ngIf="formTemplate.controls['TemplateCode'].errors?.maxlength">
							</div>
						</div>
						<div class="column">
							<label for="template_name" class="control-label">Template Name</label>
							<input type="text" class="form-control" id="template_name" maxlength="50"
								formControlName="TemplateName" placeholder="">

							<div *ngIf="formTemplate.controls['TemplateName'].invalid && (formTemplate.controls['TemplateName'].dirty || formTemplate.controls['TemplateName'].touched)"
								class="alert alert-danger">
								<div *ngIf="formTemplate.controls['TemplateName'].errors?.required">
									Template Name is required.
								</div>
							</div>
							<div *ngIf="formTemplate.controls['TemplateName'].errors?.maxlength">

							</div>
						</div>
						<div class="column">
							<label for="template_description" class="control-label">Template
								Description</label>
							<textarea class="form-control" id="template_desc" maxlength="100"
								formControlName="TemplateDesc" placeholder=""></textarea>

							<div *ngIf="formTemplate.controls['TemplateDesc'].invalid && (formTemplate.controls['TemplateDesc'].dirty || formTemplate.controls['TemplateDesc'].touched)"
								class="alert alert-danger">
								<div *ngIf="formTemplate.controls['TemplateDesc'].errors?.required">
									Template Description is required.
								</div>
							</div>
							<div *ngIf="formTemplate.controls['TemplateDesc'].errors?.maxlength">

							</div>
						</div>

						
					</div>

					<div class="row">
						<div class="column">
							<label for="template_price" class="control-label">Template Price</label>
							<input type="text" class="form-control" id="template_price" maxlength="50"
								formControlName="TemplatePrice" placeholder="">

							<div *ngIf="formTemplate.controls['TemplatePrice'].invalid && (formTemplate.controls['TemplatePrice'].dirty || formTemplate.controls['TemplatePrice'].touched)"
								class="alert alert-danger">
								<div *ngIf="formTemplate.controls['TemplatePrice'].errors?.required">
									Template Price is required.
								</div>
							</div>
							<div *ngIf="formTemplate.controls['TemplatePrice'].errors?.maxlength">

							</div>
						</div>

						<div class="column">
							<label for="balcony_size" class="control-label">Balcony Size</label>
							<input type="text" class="form-control" id="balcony_size" maxlength="50"
								formControlName="BalconySize" placeholder="">

							<div *ngIf="formTemplate.controls['BalconySize'].invalid && (formTemplate.controls['BalconySize'].dirty || formTemplate.controls['BalconySize'].touched)"
								class="alert alert-danger">
								<div *ngIf="formTemplate.controls['BalconySize'].errors?.required">
									Balcony Size is required.
								</div>
							</div>
							<div *ngIf="formTemplate.controls['BalconySize'].errors?.maxlength">

							</div>
						</div>

						<div class="column">
							<label for="template_image" class="control-label"> Template
								Image (Browse multiple images at a time)</label>
							<input type="file" formControlName="templateImagesUploadControl" accept="image/*" multiple=""
								(change)="onTemplateImagesSelected($event)">
							<div *ngIf="returnFormTemplateImagesControls.templateImagesUploadControl?.touched && returnFormTemplateImagesControls.templateImagesUploadControl?.invalid"
								class="alert alert-danger">
								<div
									*ngIf="returnFormTemplateImagesControls.templateImagesUploadControl.errors?.required">
									File is required.</div>
							</div>
						</div>
					</div>



					<div class="form-group">
						<!-- Submit Button -->
						<button type="submit" class="btn btn-primary" [disabled]="!formTemplate.valid">Submit</button>
					</div>
				</div>

			</form>

			<div align="right">

				<button mat-icon-button color="primary">
					<mat-icon style="font-size: 30px" class="mat-icon-rtl-mirror" (click)="deleteRowTemplate();">delete
					</mat-icon>
				</button>


			</div>


			<ag-grid-angular class="ag-theme-balham" style="width: 100%; height: 60%;"
				[rowData]="rowDataTemplate | async" [columnDefs]="columnDefsTemplate" rowSelection="single"
				[pagination]="true" [paginationAutoPageSize]="true" [animateRows]="true" enableColResize enableRowResize
				rowHeight="100" enableSorting enableFilter (gridReady)="onGridReadyTemplate($event)" 	(cellClicked)='getTemplateImages($event)'
				(cellValueChanged)="onCellValueChangedTemplate($event)">

			</ag-grid-angular>

			<div class="row" style="padding-left: 10px;" class="alert alert-info">
				<label class="label text-success"> Template Images uploaded (Below)</label>
			</div>

			<div class="horizontal">
				<div *ngFor='let img of templateImageLIst; let i = index'>
					<img src="data:image/png;base64,{{img.templateImg}}" height="250px" width="250px"
						style="margin: 3px;"> <br />
				</div>
			</div>
		</mat-tab>
	</mat-tab-group>

</div>