

  // :host ::ng-deep .mat-tab-body-wrapper {
  //   height: 100%;
  
  // }
  
  // :host ::ng-deep .mat-tab-body.mat-tab-body-active {
  //   height: 100%;
  
  // }

  /** No CSS for this example */
.flexspacer {
  flex: 1 1 auto;
}

:host{
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 103px;
}

.divMainSearch{
  margin-right: 2%;
  width: 100%;

}

.divAlightContentRight{
  display: flex; 
  justify-content: flex-end
}

.blue-icon {
  color: rgb(39, 62, 151);
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.blue-icon svg {
  fill:  rgb(39, 62, 151);
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: bottom;
  padding-left: 10px;
}
.submenu.expanded {
  transform: scaleY(1);
}



.white-icon {
  color: white;
}