<div class="container" style="max-width: 550px">
  <h2 class="text-center mb-5">Angular Login with Google</h2>

  <div *ngIf="isLoggedin === true">
    <div>
      <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
    </div>
  </div>

  <div *ngIf="isLoggedin === true">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" [value]="socialUser?.firstName" id="firstname" readonly>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" [value]="socialUser?.lastName" id="lastname" readonly>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" [value]="socialUser?.email" id="email" readonly>
    </div>

    <button type="button" (click)="logOut()" class="btn btn-primary">Log Out</button>
  </div>
</div>
<body>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>Apna Balcony</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/home'"> Home </a>
        <a mat-button [routerLink]="'/aboutus'"> About Us </a>
        <a mat-button [routerLink]="'/productsetup'"> Product Setup </a>
        <a mat-button [routerLink]="'/productcatalogue'"> Product Catalogue </a>
        <a mat-button [routerLink]="'/template'"> Template </a>
        <a mat-button [routerLink]="'/policy'"> Policy </a>
        <a mat-button [routerLink]="'/gallery'"> Gallery </a>
        <a mat-button [routerLink]="'/contactus'"> Contact us </a>

      </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span style="font-size: 12px;"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>

        <a mat-list-item [routerLink]="'/home'"> Home </a>
        <a mat-list-item [routerLink]="'/aboutus'"> About Us </a>
        <a mat-list-item [routerLink]="'/productsetup'"> Product Setup </a>
        <a mat-list-item [routerLink]="'/productcatalogue'"> Product Catalogue </a>
        <a mat-list-item [routerLink]="'/template'"> Template </a>
        <a mat-list-item [routerLink]="'/policy'"> Policy </a>
        <a mat-list-item [routerLink]="'/gallery'"> Gallery </a>
        <a mat-list-item [routerLink]="'/contactus'"> Contact us </a>
        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
