<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">  
    <title>Document</title>
  </head>
<body class="bg-light">


  
<div >
  <mat-toolbar >
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <div>
        <img  src="/assets/ApnaBalconyBrandLogo.PNG" style="height:100%;width:80%;" >
      </div>
  
        <!-- <a mat-button [routerLink]="'/home'"> Home </a>
        <a mat-button [routerLink]="'/aboutus'"> About Us </a>
        <a mat-button [routerLink]="'/productsetup'"> Product Setup </a>
        <a mat-button [routerLink]="'/productcatalogue'"> Product Catalogue </a>
        <a mat-button [routerLink]="'/template'"> Template </a>
        <a mat-button [routerLink]="'/policy'"> Policy </a>
        <a mat-button [routerLink]="'/gallery'"> Gallery </a>
        <a mat-button [routerLink]="'/contactus'"> Contact us </a> -->
        <div class="divMainSearch">
        
          <form class="example-form">
          <mat-form-field>
            <input #productInput  type="text" placeholder="Search Balcony Products"  matInput [formControl]="productSearchControl" (change)="getAllProducts(productInput.value)" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onEnter($event)">
              <mat-option   *ngFor="let product of autoProductFilter | async" [value]="product.productName">
                <img alt="Image" width="5%" height="5%" 
                src="data:image/png;base64,{{product.productImg}}" />
                {{product.productName}}
              </mat-option>
            </mat-autocomplete>
          
          </mat-form-field>
        </form>
        </div>
      <span class="flexspacer"></span>
	    <span flex></span>
      <div style="font-size: 15px" *ngIf="isNotLoggedin">
       
       <a href="#"><img src="/assets/googleOAuth.PNG" (click)="loginWithGoogle()"  height="40"></a>  
       <mat-icon style="font-size: 15px">person</mat-icon>
       
      </div>
      <div *ngIf="isLoggedin === true">
        <div> 
          <img src="{{socialUser?.photoUrl}}" height="50px">
         
          <label style="font-size: 15px">Welcome,{{socialUser?.firstName}}</label>
          &nbsp; <button type="button" (click)="logOut()" class="btn btn-primary">Log Out</button>
       </div>
      </div>
      </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/home'"> Home </a>
        <a mat-list-item [routerLink]="'/aboutus'"> About Us </a>
        <a mat-list-item [routerLink]="'/productsetup'"> Product Setup </a>
        <a mat-list-item [routerLink]="'/productcatalogue'"> Product Catalogue </a>
        <a mat-list-item [routerLink]="'/template'"> Template </a>
        <a mat-list-item [routerLink]="'/policy'"> Policy </a>
        <a mat-list-item [routerLink]="'/gallery'"> Gallery </a>
        <a mat-list-item [routerLink]="'/contactus'"> Contact us </a>
        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
    
        <router-outlet></router-outlet>
    
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
</body>
</html>