<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body class="bg-light">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">

  <div>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <div>
          <img src="/assets/ApnaBalconyBrandLogo.PNG" style="height:100%;width:80%;">
        </div>

        <div class="divMainSearch">

          <form class="example-form" [formGroup]="searchForm">
            <mat-form-field>

              <input #productInput type="text" placeholder="Search Balcony Products"
                matInput [formControl]="productSearchControl" [(ngModel)]="productSearch"
                [ngModelOptions]="{standalone: true}" (keyup)="getAllProducts(productInput.value)"
                [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onEnter($event)">
                <mat-option *ngFor="let product of autoProductFilter | async" [value]="product.productName">
                  <img alt="Image" width="5%" height="5%" src="data:image/png;base64,{{product.productImg}}" />
                  {{product.productName}}
                </mat-option>
              </mat-autocomplete>

            </mat-form-field>
          </form>
        </div>
        <span class="flexspacer"></span>
        <span flex></span>
        <div style="font-size: 15px" *ngIf="isNotLoggedin">

          <a href="#"><img src="/assets/googleOAuth.PNG" (click)="loginWithGoogle()" height="20"></a>
          <mat-icon style="font-size: 10px">person</mat-icon>

        </div>
        <div *ngIf="isLoggedin === true">
          <div>
            <img src="{{socialUser?.photoUrl}}" height="50px">
            <label style="font-size: 15px">Hello,{{socialUser?.firstName}}</label>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="divAlightContentRight" *ngIf="cartItems?.length > 0"><a style="text-decoration: none;"
        routerLink="/productcatalogue">
        <medium>{{cartQty}} Item(s) added</medium>
        <mat-icon>shopping_cart</mat-icon>
      </a>


    </div>
    <div class="divAlightContentRight" *ngIf="isLoggedin === true">
      <button ><mat-icon class="blue-icon" (click)="logOut()">power_settings_new</mat-icon></button>
    
    </div>
    <p>Thank you visiting our website. We will go live on 01 Oct 2021.</p>

    <mat-sidenav-container>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a mat-list-item style="text-decoration: none;" (click)="sidenav.toggle()" [routerLink]="'/home'"> Home </a>
          <a mat-list-item style="text-decoration: none;" (click)="sidenav.toggle()"  [routerLink]="'/aboutus'"> About Us </a>
          <div *ngIf="isLoggedin === true && (socialUser?.email == 'barikamitster@gmail.com' || socialUser?.email == 'rupraj26@gmail.com' || socialUser?.email == 'apnabalcony@gmail.com' || socialUser?.email == 'soumyak.priyadarshee@gmail.com')" >
            <a mat-list-item  (click)="openDialogIfNotLoggedIn(); sidenav.toggle();"> Product Setup </a>
          </div>
       
          <a mat-list-item style="text-decoration: none;" (click)="sidenav.toggle()" [routerLink]="'/productcatalogue'"> Product Catalogue </a>
          <!-- <a mat-list-item style="text-decoration: none;" [routerLink]="'/template'"> Template </a>
        <a mat-list-item style="text-decoration: none;" [routerLink]="'/policy'"> Policy </a>
        <a mat-list-item style="text-decoration: none;" [routerLink]="'/gallery'"> Gallery </a> -->
          <a mat-list-item style="text-decoration: none;" (click)="sidenav.toggle()" [routerLink]="'/contactus'"> Contact us </a>
          <!-- <a mat-list-item style="text-decoration: none;" (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->

        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>

    <div class="icon-bar">
      <a href="https://www.facebook.com/ApnaBalcony-105996071745123/" target="_blank" class="facebook"><i
          class="fa fa-facebook"></i></a>
      <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
      <a href="#" class="google"><i class="fa fa-google"></i></a>
      <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
      <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
    </div>
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://www.apnabalcony.com/"> apnabalcony.com</a>
    </div>
  </div>
</body>

</html>