<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
  
    <div class="about-section">
        <h1>Who we are</h1>
        <p>We are service based start up focusing on Balcony designs. At Apna Balcony, we believe there is a better way to build up a Balcony which looks elegent and attractive. Come embrace us. </p>
      </div>

    <div class="hd">Our Services</div>
    <div class="row" style="justify-content: center">
        <div class="card col-md-3 col-12 ml-3" style="background-color: black; margin: 10px;">
            <div class="card-content" style="background-color: black;">
                <div class="card-body"> <img class="img rck" style="height: 250px; width: 250px;" src="/assets/GrassFlooring.jpeg" />
                    <div class="shadow"></div>
                    <div class="card-title"><h4 style="color: white;">FLOORING</h4></div>
                    <div class="card-subtitle">
                        <!-- <p> <small class="text-muted">We spent thousands of hours creating on algorithm that does this for you in seconds. We collect a small fee from the professional after they meet your</small> </p> -->
                        <p> <small class="text-muted">ARTIFICIAL GRASS</small> </p>
                        <p> <small class="text-muted">TILES/3D TIKES</small> </p>
                        <p> <small class="text-muted">WOODEN PANEL</small> </p>
                        <p> <small class="text-muted">PEBBLES</small> </p>
                        <p> <small class="text-muted">GAMING FLOOR</small> </p>
                    </div>
                </div>
            </div>
        </div>
     
        <div class="card col-md-3 col-12 ml-3" style="background-color: black;margin: 10px;">
            <div class="card-content" style="background-color: black;">
                <div class="card-body"> <img class="img rck" style="height: 250px; width: 250px;" src="/assets/WallDecor_New.jpg" />
                    <div class="card-title"><h4 style="color: white;">WALL DECOR</h4></div>
                    <div class="card-subtitle">
                        <!-- <p> <small class="text-muted"> We don't accept ads from anyone. We use actual data to match you who the best person for each job </small> </p> -->
                        <p> <small class="text-muted">WALLPAPER</small> </p>
                        <p> <small class="text-muted">WOODEN PANELLING</small> </p>
                        <p> <small class="text-muted">TILES</small> </p>
                        <p> <small class="text-muted">STONE CLADDING</small> </p>
                        <p> <small class="text-muted">VERTICAL GARDEN</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-3" style="background-color: black;margin: 10px;"> 
            <div class="card-content" style="background-color: black;">
                <div class="card-body"> <img class="img rck" style="height: 250px; width: 250px;" src="/assets/SitRelax.jpg" />
                    <div class="card-title"><h4 style="color: white;">SITTING & RELAX </h4></div>
                    <div class="card-subtitle">
                        <!-- <p> <small class="text-muted">Buying or selling a home is often the largest transaction anyone does in their life. we guide you through the process so that you can be confident in reaching your dream outcome.</small> </p> -->
                        <p> <small class="text-muted">COFFEE TABLE</small> </p>
                        <p> <small class="text-muted">WOODEN SITTING</small> </p>
                        <p> <small class="text-muted">HANGING CHAIR</small> </p>
                        <p> <small class="text-muted">LOW HEIGHT SITTING</small> </p>
                     
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-3" style="background-color: black;margin: 10px;">
            <div class="card-content" style="background-color: black;">
                <div class="card-body"> <img class="img rck" style="height: 250px; width: 250px;" src="/assets/DeepCleaning.jpg" />
                    <div class="card-title"><h4 style="color: white;">CARE</h4></div>
                    <div class="card-subtitle">
                        <!-- <p> <small class="text-muted">Buying or selling a home is often the largest transaction anyone does in their life. we guide you through the process so that you can be confident in reaching your dream outcome.</small> </p> -->
                        <p> <small class="text-muted">DEEP CLEANING</small> </p>
                        <p> <small class="text-muted">MAINTAINANCE</small> </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-3" style="background-color: black;margin: 10px;">
            <div class="card-content" style="background-color: black;">
                <div class="card-body"> <img class="img rck" style="height: 250px; width: 250px;" src="/assets/BathroomPartition.PNG" />
                    <div class="card-title"><h4 style="color: white;">BATHROOM</h4></div>
                    <div class="card-subtitle">
                        <!-- <p> <small class="text-muted">Buying or selling a home is often the largest transaction anyone does in their life. we guide you through the process so that you can be confident in reaching your dream outcome.</small> </p> -->
                        <p> <small class="text-muted">GLASS PARTITION</small> </p>
          
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-3" style="background-color: black;margin: 10px;">
            <div class="card-content" style="background-color: black;">
                <div class="card-body"> <img class="img rck" style="height: 250px; width: 250px;" src="/assets/BirdNet.jpeg" />
                    <div class="card-title"><h4 style="color: white;">SAFETY</h4></div>
                    <div class="card-subtitle">
                        <!-- <p> <small class="text-muted">Buying or selling a home is often the largest transaction anyone does in their life. we guide you through the process so that you can be confident in reaching your dream outcome.</small> </p> -->
                        <p> <small class="text-muted">BIND/BIRD NET</small> </p>
                        <p> <small class="text-muted">CLOTH HANGER</small> </p>
                        <p> <small class="text-muted">GRILL/FENCING</small> </p>
                        <p> <small class="text-muted">STORAGE BOXES</small> </p>
          
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
    <div class="ft">
        <p class="chk"><small class="text-muted">Still not sure?</small></p>
        <div class="btn btn-primary">Read All Testimonials</div>
    </div>
</div>