<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
  
    <div class="about-section">
        <h2>Balcony is the ultimate amenity for apartment dwellers. Discover balcony ideas to transform your outdoor space.</h2> 
    </div>
    <br>
    <div class="about-section">
        <h1>WHO WE ARE</h1>
        <p>We are service based startup focusing on Balcony designs. At Apna Balcony, we believe there is a better way to build up a Balcony which looks elegent and attractive. Come embrace us. </p> <br><br>
      
        <h1>HOW IT WORKS</h1>
        <p>How to get your balcony designed in few easy steps</p> <br>

        <h2>ONLINE WAY</h2>
        <ul>
            <li><p>Select the Product Catalogue and add to cart</p> </li>
            <li><p>Navigate to Templates where you can choose default Balcony Design templates, add to cart or make your own</p></li>
            <li><p>If making your own, then take a screenshot and upload in the cart before submitting an order</p></li>
        </ul>
        <br><br>
        <h2>OFFLINE WAY</h2>
        <ul>
            <li><p>Meet a Designer</p> </li>
            <li><p>Task to designer about your needs, dreams and budget</p></li>
            <li><p>Get the design finalized</p></li>
            <li><p>Get an estimate</p></li>
            <li><p>Make an advance payment of 50%</p></li>
            <li><p>Get your dream balcony ready in 20 days</p></li>
        </ul>
    </div>
     <br>
    <div class="about-section">
        <h1>APNABALCONY TEAM</h1>
        <p>Get to know the team that will work with you on course</p> 
         <br>
        <h2>CORE TEAM</h2>
        <ul>
            <li><p>Director</p> </li>
            <li><p>Designers</p></li>
            <li><p>Fabricator</p></li>
            <li><p>Electrician</p></li>
            <li><p>Carpenter</p></li>
        </ul>

    </div>
    <br>

    <div class="hd">Our Services</div>
    <div class="row" style="justify-content: center">
        <div class="card col-md-3 col-12 ml-3" style="background-color: black; margin: 10px;">
            <div class="card-content" style="background-color: black;">
                <div class="card-body"> <img class="img rck" style="height: 250px; width: 250px;" src="/assets/GrassFlooring.jpeg" />
                    <div class="shadow"></div>
                    <div class="card-title"><h4 style="color: white;">FLOORING</h4></div>
                    <div class="card-subtitle">
                        <!-- <p> <small class="text-muted">We spent thousands of hours creating on algorithm that does this for you in seconds. We collect a small fee from the professional after they meet your</small> </p> -->
                        <p> <small class="text-muted">█ ARTIFICIAL GRASS</small> </p>
                        <p> <small class="text-muted">█ WOODEN FLOORING</small> </p>
                        <p> <small class="text-muted">█ BALCONY TILES</small> </p>
                        <p> <small class="text-muted">█ WPC FLOORING</small> </p>
                    </div>
                </div>
            </div>
        </div>
     
        <div class="card col-md-3 col-12 ml-3" style="background-color: black;margin: 10px;">
            <div class="card-content" style="background-color: black;">
                <div class="card-body"> <img class="img rck" style="height: 250px; width: 250px;" src="/assets/WallPapers.jpg" />
                    <div class="card-title"><h4 style="color: white;">WALL PANELS</h4></div>
                    <div class="card-subtitle">
                        <!-- <p> <small class="text-muted"> We don't accept ads from anyone. We use actual data to match you who the best person for each job </small> </p> -->
                        <p> <small class="text-muted">█ PVC PANELS</small> </p>
                        <p> <small class="text-muted">█ GLASS TILES</small> </p>
                        <p> <small class="text-muted">█ STONE CLADDING</small> </p>
                        <p> <small class="text-muted">█ 3D FOAM</small> </p>
                        <p> <small class="text-muted">█ WALLPAPER</small> </p>
                        <p> <small class="text-muted">█ SOFFIT WALL PANELS</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-3" style="background-color: black;margin: 10px;"> 
            <div class="card-content" style="background-color: black;">
                <div class="card-body"> <img class="img rck" style="height: 250px; width: 250px;" src="/assets/WallDecor_New.jpg" />
                    <div class="card-title"><h4 style="color: white;">HOME DECOR </h4></div>
                    <div class="card-subtitle">
                        <!-- <p> <small class="text-muted">Buying or selling a home is often the largest transaction anyone does in their life. we guide you through the process so that you can be confident in reaching your dream outcome.</small> </p> -->
                        <p> <small class="text-muted">█ WALL DECOR</small> </p>
                        <p> <small class="text-muted">█ TABLE DECOR</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-3" style="background-color: black;margin: 10px;">
            <div class="card-content" style="background-color: black;">
                <div class="card-body"> <img class="img rck" style="height: 250px; width: 250px;" src="/assets/DeepCleaning.jpg" />
                    <div class="card-title"><h4 style="color: white;">CARE</h4></div>
                    <div class="card-subtitle">
                        <!-- <p> <small class="text-muted">Buying or selling a home is often the largest transaction anyone does in their life. we guide you through the process so that you can be confident in reaching your dream outcome.</small> </p> -->
                        <p> <small class="text-muted">█ DEEP CLEANING</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-3" style="background-color: black;margin: 10px;">
            <div class="card-content" style="background-color: black;">
                <div class="card-body"> <img class="img rck" style="height: 250px; width: 250px;" src="/assets/Blind.jpg" />
                    <div class="card-title"><h4 style="color: white;">HOME FURNISHING</h4></div>
                    <div class="card-subtitle">
                        <!-- <p> <small class="text-muted">Buying or selling a home is often the largest transaction anyone does in their life. we guide you through the process so that you can be confident in reaching your dream outcome.</small> </p> -->
                        <p> <small class="text-muted">█ BLINDS</small></p> 
                        <ul>
                            <li>
                                <p><small class="text-muted"> ■ INDOOR</small> </p>
                                    <ul>
                                        <li><p><small class="text-muted">• ROLLER</small></p></li>
                                        <li><p><small class="text-muted">• ZEBRA</small></p></li>
                                     </ul>
                            </li>
                            <li>
                               
                                    <p><small class="text-muted"> ■ OUTDOOR</small> </p>
                                    <ul>
                                       <li><p><small class="text-muted">• PVC BLINDS</small></p></li>
                                    </ul>
                              
                            </li>
                         </ul>
                         <p> <small class="text-muted">█ CURTAINS</small></p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-3" style="background-color: black;margin: 10px;">
            <div class="card-content" style="background-color: black;">
                <div class="card-body"> <img class="img rck" style="height: 250px; width: 250px;" src="/assets/BirdNet.jpeg" />
                    <div class="card-title"><h4 style="color: white;">SAFETY</h4></div>
                    <div class="card-subtitle">
                        <!-- <p> <small class="text-muted">Buying or selling a home is often the largest transaction anyone does in their life. we guide you through the process so that you can be confident in reaching your dream outcome.</small> </p> -->
                        <p> <small class="text-muted">█ BIRD NET</small> </p>
                        <p> <small class="text-muted">█ ALUMINIUM CLASS PARTITION</small> </p>
                        <p> <small class="text-muted">█ BATHROOM CLASS PARTITION</small> </p>
          
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
    <!-- <div class="ft">
        <p class="chk"><small class="text-muted">Still not sure?</small></p>
        <div class="btn btn-primary">Read All Testimonials</div>
    </div> -->
</div>