<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
    <div class="hd">Who we are</div>
    <p>We are a service based start-up in Bangalore to design your Balcony as per your needs</p>
    <br/><br/>
    <div class="hd">Our Services</div>
    <div class="row" style="justify-content: center">
        <div class="card col-md-3 col-12">
            <div class="card-content">
                <div class="card-body"> <img class="img rck" style="height: 250px; width: 250px;" src="/assets/GrassFlooring.png" />
                    <div class="shadow"></div>
                    <div class="card-title">Flooring</div>
                    <div class="card-subtitle">
                        <!-- <p> <small class="text-muted">We spent thousands of hours creating on algorithm that does this for you in seconds. We collect a small fee from the professional after they meet your</small> </p> -->
                        <p> <small class="text-muted">Artificial Grass</small> </p>
                        <p> <small class="text-muted">Tiles/3D Tikes</small> </p>
                        <p> <small class="text-muted">Wooden Panel</small> </p>
                        <p> <small class="text-muted">Pebbles</small> </p>
                        <p> <small class="text-muted">Gaming Floor</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-3">
            <div class="card-content">
                <div class="card-body"> <img class="img rck" style="height: 250px; width: 250px;" src="/assets/Wall Decor.jpg" />
                    <div class="card-title"> Wall Decor </div>
                    <div class="card-subtitle">
                        <!-- <p> <small class="text-muted"> We don't accept ads from anyone. We use actual data to match you who the best person for each job </small> </p> -->
                        <p> <small class="text-muted">Wallpaper</small> </p>
                        <p> <small class="text-muted">Wooden Panelling</small> </p>
                        <p> <small class="text-muted">Tiles</small> </p>
                        <p> <small class="text-muted">Stone Cladding</small> </p>
                        <p> <small class="text-muted">Vertical Garden</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-3">
            <div class="card-content">
                <div class="card-body"> <img class="img rck" style="height: 250px; width: 250px;" src="/assets/SitRelax.jpg" />
                    <div class="card-title"> Sit & Relax </div>
                    <div class="card-subtitle">
                        <!-- <p> <small class="text-muted">Buying or selling a home is often the largest transaction anyone does in their life. we guide you through the process so that you can be confident in reaching your dream outcome.</small> </p> -->
                        <p> <small class="text-muted">Coffee Table</small> </p>
                        <p> <small class="text-muted">Wooden Sitting</small> </p>
                        <p> <small class="text-muted">Hanging Chair</small> </p>
                        <p> <small class="text-muted">Low Height</small> </p>
                        <p> <small class="text-muted">Sitting</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-3">
            <div class="card-content">
                <div class="card-body"> <img class="img rck" style="height: 250px; width: 250px;" src="/assets/DeepCleaning.jpg" />
                    <div class="card-title"> Care </div>
                    <div class="card-subtitle">
                        <!-- <p> <small class="text-muted">Buying or selling a home is often the largest transaction anyone does in their life. we guide you through the process so that you can be confident in reaching your dream outcome.</small> </p> -->
                        <p> <small class="text-muted">Deep Cleaning</small> </p>
                        <p> <small class="text-muted">Maintainance</small> </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-3">
            <div class="card-content">
                <div class="card-body"> <img class="img rck" style="height: 250px; width: 250px;" src="/assets/BathroomPartition.PNG" />
                    <div class="card-title"> Bathroom </div>
                    <div class="card-subtitle">
                        <!-- <p> <small class="text-muted">Buying or selling a home is often the largest transaction anyone does in their life. we guide you through the process so that you can be confident in reaching your dream outcome.</small> </p> -->
                        <p> <small class="text-muted">Glass Partition</small> </p>
          
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-3">
            <div class="card-content">
                <div class="card-body"> <img class="img rck" style="height: 250px; width: 250px;" src="/assets/BirdNet.jpg" />
                    <div class="card-title"> Others </div>
                    <div class="card-subtitle">
                        <!-- <p> <small class="text-muted">Buying or selling a home is often the largest transaction anyone does in their life. we guide you through the process so that you can be confident in reaching your dream outcome.</small> </p> -->
                        <p> <small class="text-muted">Bind/Bird Net</small> </p>
                        <p> <small class="text-muted">Cloth Hanger</small> </p>
                        <p> <small class="text-muted">Grill/Fencing</small> </p>
                        <p> <small class="text-muted">Storage Boxes</small> </p>
          
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
    <div class="ft">
        <p class="chk"><small class="text-muted">Still not sure?</small></p>
        <div class="btn btn-primary">Read All Testimonials</div>
    </div>
</div>