<form [formGroup]="formFilters">
  <div class="card filters">

    <div class="card-header">
      <strong>Filters</strong> &nbsp; <mat-icon>filter</mat-icon>
    </div>

    <div class="card-body">
      <div class="card-header">
      
        <h3>Price</h3>

      </div>
      <mat-slider thumbLabel min="0" max="10000" step="1" value="0" (input)="onInputChangePrice($event)"></mat-slider>

      <div class="card-header">
        <h3>Minimum Discount</h3>

      </div>
      <mat-slider thumbLabel min="0" max="50" step="1" value="0" (input)="onInputChangeDiscount($event)"></mat-slider>

    </div>
    <div class="card-body">
      <div class="card-header">
        <h3>Product Category</h3>
      </div>

      <div class="form-group">
        <br>

        <mat-select class="form-control" [value]="0" placeholder="Choose Product Category"
          (selectionChange)="changeProductCategory($event)">
          <mat-option *ngFor="let productCategory of productCategoryList|async" [value]="productCategory._id">
            <img alt="Image" width="5%" height="5%"
              src="data:image/png;base64,{{productCategory.productCategoryImg}}" />
            {{productCategory.productCategoryName}}
          </mat-option>
        </mat-select>


      </div>

    </div>


    <div class="card-body">
      <div class="card-header">
        <h3>Product Sub-Category</h3>
      </div>

      <div class="form-group">
        <br>
        <mat-select class="form-control" [value]="0" placeholder="Choose Product SubCategory"
        (selectionChange)="changeProductSubCategory($event)">
        <mat-option *ngFor="let productSubCategory of productSubCategoryList|async"
          [value]="productSubCategory._id">
          <img alt="Image" width="5%" height="5%"
            src="data:image/png;base64,{{productSubCategory.productSubCategoryImg}}" />
          {{productSubCategory.productSubCategoryName}}
        </mat-option>
      </mat-select>

      </div>

    </div>

    <div class="card-body">
      <div class="card-header">
        <h3>Brand</h3>
      </div>

      <div class="form-group">
        <br>
        <mat-select class="form-control" [value]="0" placeholder="Choose Product Brand"
          (selectionChange)="changeProductBrand($event)">
          <mat-option *ngFor="let productBrand of productBrandList|async" [value]="productBrand._id">
            <img alt="Image" width="10%" height="10%" src="data:image/png;base64,{{productBrand.productBrandImg}}" />
            {{productBrand.productBrandName}}
          </mat-option>
        </mat-select>

      </div>

    </div>

    <div class="card-body">
      <div class="card-header">
        <h3>Color</h3>
      </div>

      <div class="form-group">
        <br>
        <mat-select class="form-control" [value]="0" [(ngModel)]="selectedColor" [ngModelOptions]="{standalone: true}"
          placeholder="Choose Product Color" (selectionChange)="changeProductColor($event)">
          <mat-option *ngFor="let productColor of productColorList|async" [value]="productColor._id">
            <img alt="Image" width="10%" height="10%" src="data:image/png;base64,{{productColor.productColorImg}}" />
            {{productColor.productColorName}}
          </mat-option>
        </mat-select>

      </div>

      <br />
      <div>
        <button type="button" class="btn btn-secondary" (click)="reset();">Reset Search</button>
      </div>


    </div>



  </div>
</form>