<hr>
<h3> &nbsp; All Orders</h3>

<ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-balham"
				[rowData]="rowDataOrders | async" [columnDefs]="columnDefsOrders"
				rowSelection="single" [pagination]="true" [paginationAutoPageSize]="true" [animateRows]="true"
				enableColResize enableSorting enableFilter enableRowResize rowHeight="50"
				(cellClicked)='getOrderItems($event)'
				(gridReady)="onGridReadyOrders($event)"
				(cellValueChanged)="onCellValueChangedOrder($event)"></ag-grid-angular>

			
<div *ngIf="requirement.length > 0">
	<hr>
	<h2>Requirement:</h2>  
	<span>	<p>{{requirement}}</p> </span>
</div>

<div *ngIf="customerDetails?.length > 0">
	<div  *ngFor='let details of customerDetails; let i = index' >
		<h2>Customer Details:</h2>  
		<span><h4>Name  : {{details.name}}</h4></span> 
		 <span><h4>Address : {{details.address}}</h4></span> 
		 <span><h4>EmailId : {{details.emailId }}</h4></span>
		 <span><h4>Phone No. : {{details.phoneNo }}</h4></span>
	</div>
	
</div>

<br><br>

<div *ngIf="orderItems?.length > 0">
	<hr>
	<h2> Item Details:</h2>
</div>
<div class="horizontal" *ngIf="orderItems?.length > 0">

	<div  *ngFor='let items of orderItems; let i = index'  >
		<img src="data:image/png;base64,{{items.product.productImg}}" height="250px" width="250px" style="margin: 3px;"> <br/>
		<span><h4>ProductCode  : {{items.product.productCode}}</h4></span> 
		<span><h4>ProductName : {{items.product.productName}}</h4></span> 
		<span><h4>Quantity : {{items.qty }}</h4></span>

	
</div>
</div>

	